<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Identifiant</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-button expand="full" routerLink="/register">
    Inscription
  </ion-button>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="block">
          Connexion
        </ion-button>
      </ion-toolbar>
</ion-footer>
