<ion-header>
  <ion-toolbar>
    <ion-title>todo-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Tâche</ion-label>
      <ion-input type="text" [(ngModel)]="task.taskName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-datetime [(ngModel)]="task.dateString" displayFormat="YYYY-MM-DD"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="persistTask()">Valider</ion-button>
</ion-footer>
