<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let task of taskList">
        <ion-item>
          <ion-checkbox [(ngModel)]="task.done" (ionChange)="updateTask(task)"></ion-checkbox>
          <ion-label>{{ task.taskName }}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-button color="danger" size="small" (click)="deleteTask(task._id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
